@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-y: scroll;
  }

  body {
    @apply bg-background;
    position: absolute;
    overflow: hidden;
    transition: background 1.5s;
    scroll-behavior: smooth;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color-scheme: dark;
  }
}

.heading {
  font-size: clamp(3rem, 0.2718rem + 3.1068vw, 4rem);
  line-height: 1.1;
  width: 100%;
}

.heading:after,
.heading:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 50%;
  height: 0.25rem;
  vertical-align: middle;
}
.heading:after {
  left: 0.5em;
  margin-right: -50%;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
  border-color: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
}

.heading:before {
  right: 0.5em;
  margin-left: -50%;
  background: linear-gradient(-90deg, rgba(60, 51, 80, 0) 0%, #804dee 100%);
  background: -webkit-linear-gradient(
    -90deg,
    rgba(60, 51, 80, 0) 0%,
    #804dee 100%
  );
  border-color: linear-gradient(-90deg, rgba(60, 51, 80, 0) 0%, #804dee 100%);
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
  border-color: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}
