.contact-form {
  & .contact-input {
    padding: 0.5rem 1rem;
    border-width: 2px;
    border-color: gray;
    position: relative;
    border-radius: 0.25rem;
    // @apply px-4 py-2 border-2 border-[#808080] rounded relative;
  }
  & .contact-input label {
    position: absolute;
    margin: -1rem 0;
    background: rgba(0, 0, 0, 0);
    padding: 0 0.5rem;
    color: gray;
    // @apply absolute -my-4 -mx-2 bg-white px-2 text-gray-900;
  }
  & .contact-input input,
  & .contact-input textarea {
    width: 100%;
    appearance: none;
    border-width: 2px;
    border-color: white;
    border-radius: 0.25rem;
    padding: 0.5rem 0;
    color: gray;
    line-height: 1.25;
    // @apply appearance-none border-2 border-white rounded w-full py-2 text-gray-900 leading-tight focus:outline-none focus:bg-white focus:border-white;
  }
  & .contact-input input:focus,
  & .contact-input textarea:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    background: rgba(0, 0, 0, 0);
    border-color: white;
  }
}
